@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    font-family: 'Blinker', sans-serif;
}

.cover-photo {

    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
}

.cover-photo img {

    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

/* for navbar */
/* for the check box only for mobile  */

.burger {
    z-index: 4;
    position: absolute;
    left: 40px;
    top: 60px;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

/* end this  */

a.mobile-nav-links {
    background-color: white;
    color: black;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    padding: 4px;
    display: none;
}

#dropdown {
    width: 200px;
    height: 200px;
    z-index: 3;
    background-color: transparent;
    position: relative;
    left: 50px;
    display: none;

}

.navbar {
    background: transparent;
    margin-top: 20px;
    position: absolute;
    display: flex;
    align-items: start;
    width: 90%;
    justify-content: space-evenly;
}

.nav-links {
    background: transparent;
    color: white;
    font-size: 25px;
    transition: box-shadow 0.3s;
    text-decoration: none;
}

.nav-links:hover {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.heading {
    color: white;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 350px;
    left: 200px;
    font-size: 25px;
}
#head-p{
    margin-top: 15px;
    color: antiquewhite;
    font-size: 20px;
}

#buddhadebkoner {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

/* main content in the web app */



/* For screens smaller than 600px (typical for mobile devices) */
@media (max-width: 672px) {

    /* CSS rules for smaller screens */
    .heading {
        top: 300px;
        left: 30px;
        font-size: 15px;
    }

    .special-nav-links {
        display: none;
    }

    .burger {
        display: block;
    }

    #dropdown {
        display: none;
    }

    a.mobile-nav-links {
        display: none;
    }
    #head-p{
        font-size: 15px;
    }

}

/* For screens between 601px and 1024px (typical for tablets) */
@media (min-width: 672px) and (max-width: 1024px) {

    /* CSS rules for medium-sized screens */
    body {
        overflow-x: hidden;
    }

    .heading {
        top: 300px;
        left: 80px;
        font-size: 20px;
    }


}

/* For screens larger than 1024px (typical for desktops) */
@media (min-width: 1025px) {

    /* CSS rules for large screens */

}


/* main section --  */

.main{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    z-index: 5;
    background-color: rgb(3, 5, 5);
}